ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}

.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dollar-icon {
  color:#7296EC;
  font-weight: 800;
  text-decoration: none;
}
.P-icon {
  color:#7296EC;
  font-weight: 800;
}


.choose-language {
   background-color: #DCE6FF;
  text-align: center;
   width: 70px;
   height: 36px;
   line-height: 36px;
}
.lan-uz a, .lan-ru a{
  text-decoration: none;
}
.lan-uz {
  background-color: #ffffff;
  display: inline-block;
  width: 30px;
  height: 30px;
  
}
.sign-up {
  background-color: #7296EC;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  width: 80px;
  height: 40px;
  

}


.nav-list {
  width: 1200px;
  height: 41px;
  display: flex;
  justify-content: space-around;
}
.ads-box {
  width: 1200px;
  height: 128px;
}
.banner-ads {
  object-fit:contain;
}
.menu-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.menu-item {
  width: 393px;
  height: 382px;
  background-color: #F6F6F6;
}
.menu-img {
  object-fit: contain;
}
.banner-menu {
  display: flex;
  justify-content: center;
  background-color:#f0ba91;
  width: 1050px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.button {
  background-color: #F78B3B;
  padding: 13px, 30px, 13px, 30px;
  text-decoration: none;
}
.menu-down {
  display: flex;

}

.button-more {
  display: inline-block;
  text-align: center;
  line-height: 53px;
  width: 796px;
  height: 53px;
  background-color: #EAEAEA;
}

.second-menu-item {
  background-color:#F6F6F6;
}
.menu-side {
  background-color: #F6F6F6;
  font-family: "Roboto Serif";
  font-weight: 400;

}

.footer-top {
  display: flex;
}
.footer-down {
  display: flex;
  justify-content: space-around;
}
.social-icon {
  display: flex;
}

.footer-list {
  font-family: "Roboto Serif";
  font-weight: 200;
  background-color:#7296EC;
}

