/* general css styles start */
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #000;
}
* {
  box-sizing:border-box;
}
/* general css styles start */

/* header top start */
.header-top {
  background-color:#F6F6F6;
  height: 105px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Rubik", "sane-serif";
  font-weight: 500;
}
.logo-img {
  padding-left: 0;
  margin-left: 126px  ;

}
.top-sum-icons {
  margin-left: 41px;
  margin-right: 335px;
}

.dollar-icon {
  color:#7296EC;
  font-weight: 800;
  text-decoration: none;
}
.P-icon {
  color:#7296EC;
  font-weight: 800;
}

.search-box {
  border: 4px solid #7296EC;
}
.search-input {
  border: none;
}

.choose-language {
   border-radius: 50px;
   background-color: #DCE6FF;
   text-align: center;
   margin: 0 28px;
   width: 70px;
   height: 36px;
   line-height: 36px;
}
.lan-uz a, .lan-ru a{
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
}
.lan-ru a {
  color: #A6A6A6;
}
.lan-uz {
  background-color: #ffffff;
  display: inline-block;
  border-radius: 50%;
  line-height: 30px;
  width: 30px;
  height: 30px;
  
}
.sign-up {
  background-color: #7296EC;
  border-radius: 10px;
  color: #ffffff;
  line-height: 40px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 3px 20px;
}
/* header top start */

.container {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

/* navbar start */
.nav-list {
  width: 1200px;
  height: 41px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", "sane-serif";
  font-weight: 500;
}
.nav-item a {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7F7F7F;
}
/* navbar end */

.ads-box {
  margin-top: 60px;
  width: 1200px;
  height: 128px;
}
.banner-ads {
  object-fit:contain;
}

 /* first menu start */
.menu-list {
  display: flex;
  padding-left: 0;
  justify-content: start;
  flex-wrap: wrap;
  font-family: "Rubik", "sane-serif";
  font-weight: 500;
  margin-bottom: 60px;
}

.menu-item {
  background-color: #F6F6F6;
  margin:15px 5px;
  padding:8px;
  width: 393px;
  height: 410px;
  left: 120px;
  top: 786px;
border-radius: 15px;
}
.menu-item h2{
  padding: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.menu-item p{
  padding: 0 5px;
  font-weight: 400;
  color: #4A4B4C;;
}
.menu-img {
  padding: 0 5px;
  object-fit: contain;
}
.menu-bottom-icon {
  display: flex;
  align-items: center;
}
.menu-bottom-icon p{
  margin-left: 10px;
}
 /* first menu end */

.banner-menu { 
  margin: auto;
  font-family: "Rubik", "sane-serif";
  font-weight: 400;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#f0ba91;
  width: 1050px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 60px;
}
.button {
  background-color: #F78B3B;
  color: #fff;
  width: 150px;
  height: 50px;
  line-height: 50px;
  padding: 13px, 30px, 13px, 30px;
  border-radius: 10px;
  text-decoration: none;
}
/* second down menu start */
.menu-down {
  display: flex;
  font-family: "Rubik", "sane-serif";
  font-weight: 500;
}

.menu-down-item{
  border-radius: 15px;
} 
.menu-down-item a h2{
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
.menu-down-item p{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
}
.menu-down-item span{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;
}
.menu-down-item span {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;
}
.menu-down-item span img{
  margin-right: 10px;
}

.button-more {
  display: inline-block;
  text-align: center;
  line-height: 53px;
  margin-top: 5px;
  width: 796px;
  height: 53px;
  background-color: #EAEAEA;
  border-radius: 15px;
}

.menu-down-list {
  padding-left: 0;
}
.menu-down-item{
  font-weight: 400;
  padding: 10px 30px 10px 10px;

  margin:10px 10px 10px 0;
  background-color:#F6F6F6;
}
.menu-down-item a{
  color: #000;
}
/* second down menu end */

/*down side menu end */
.menu-side {
  font-family: "Rubik", "sane-serif";
  margin-left: 10px;
  font-weight: 500;
  padding: 5px 8px;
}
.menu-side-item {
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}
.menu-side h4 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.menu-side p {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5E5F61;
}
.menu-side li {
  padding: 15px 5px 5px 15px;
  background-color: #F6F6F6;
  border-bottom: 2px solid #D2D2D2;
}
/* down side menu end */

/* footer top start */
footer {
  background-color: #7297EF;
}
.footer-top {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
}
.bottom-logo {
  text-decoration: none;
}
.bottom-logo h4{
  color:#fff;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-left: 201px;
  margin-top: 40px;
  margin-bottom: 0px;
}
.footer-top-text {
  margin-top: 20px;
  margin-left: 201px;
  margin-right: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #fff;
}
.footer-links {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px;
  
}
.footer-links li a{
  color: #fff;
}
.footer-links li {
  margin-bottom:10px;
}
/* footer top end */

/* footer down start */
.footer-down {
  display: flex;
  justify-content: space-around;
}
.footer-down p{
  color: #fff;
}
.social-icon {
  display: flex;
}
.social-icon li{
  margin-left:15px;
}

.footer-list {
  font-family: "Rubik", "Sane-serif";
  font-weight: 500;
  background-color:#7296EC;
}
/* footer down end */