ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #000;
}
* {
  box-sizing:border-box;
}
.container {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.header-top {
  background-color:#F6F6F6;
  height: 105px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Rubik", "sane-serif";
  font-weight: 500;
}
.logo-img {
  padding-left: 0;
  margin-left: 126px  ;

}
.top-sum-icons {
  margin-left: 41px;
  margin-right: 335px;
}

.dollar-icon {
  color:#7296EC;
  font-weight: 800;
  text-decoration: none;
}
.P-icon {
  color:#7296EC;
  font-weight: 800;
}

.search-box {
  border: 4px solid #7296EC;
}
.search-input {
  border: none;
}

.choose-language {
   border-radius: 50px;
   background-color: #DCE6FF;
   text-align: center;
   margin: 0 28px;
   width: 70px;
   height: 36px;
   line-height: 36px;
}
.lan-uz a, .lan-ru a{
  text-decoration: none;
}
.lan-uz {
  background-color: #ffffff;
  display: inline-block;
  border-radius: 50%;
  line-height: 30px;
  width: 30px;
  height: 30px;
  
}
.sign-up {
  background-color: #7296EC;
  border-radius: 50px;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  width: 80px;
  height: 40px; 
}


.nav-list {
  width: 1200px;
  height: 41px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", "sane-serif";
  font-weight: 500;
}

.ads-box {
  width: 1200px;
  height: 128px;
}
.banner-ads {
  object-fit:contain;
}
.menu-list {
  display: flex;
  padding-left: 0;
  justify-content: start;
  flex-wrap: wrap;
  font-family: "Rubik", "sane-serif";
  font-weight: 500;
}


.menu-item {
  background-color: #F6F6F6;
  width: 393px;
  height: 382px;
  margin:25px 5px;
  padding:8px;
  border-radius: 10px;
  
}
.menu-item p{
  font-weight: 400;
}
.menu-img {
  object-fit: contain;
}
.banner-menu {
  margin: auto;
  font-family: "Rubik", "sane-serif";
  font-weight: 400;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#f0ba91;
  width: 1050px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.button {
  background-color: #F78B3B;
  color: #fff;
  width: 150px;
  height: 50px;
  line-height: 50px;
  padding: 13px, 30px, 13px, 30px;
  border-radius: 10px;
  text-decoration: none;
}
.menu-down {
  display: flex;
  font-family: "Rubik", "sane-serif";
  font-weight: 500;

}

.button-more {
  display: inline-block;
  text-align: center;
  line-height: 53px;
  margin-top: 5px;
  width: 796px;
  height: 53px;
  background-color: #EAEAEA;
}

.menu-down-list {
  padding-left: 0;
}
.menu-down-item{
  font-weight: 400;
  padding: 10px 30px 10px 10px;

  margin:10px 10px 10px 0;
  background-color:#F6F6F6;
}
.menu-down-item a{
  color: #000;
}
.menu-side {
  font-family: "Rubik", "sane-serif";
  margin-left: 10px;
  font-weight: 500;
  padding: 0 8px;
}
.menu-side li {
  padding: 15px 5px 5px 15px;
  background-color: #F6F6F6;
  border-bottom: 2px solid #D2D2D2;
}

.footer-top {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
}
.footer-top-text {
  padding-right: 60%;
  font-weight: 200;
}
.footer-links {
  width: 50%;
 width: 50%;
}
.footer-links li {
  margin-bottom:10px;
}
.footer-down {
  display: flex;
  justify-content: space-around;
}
.social-icon {
  display: flex;
}
.social-icon li{
  margin-left:15px;
}

.footer-list {
  font-family: "Rubik", "Sane-serif";
  font-weight: 500;
  background-color:#7296EC;
}

.